<div data-controller="ingredient-list" data-ingredient-list-parent="meals" data-target="meals.ingredient">
  <%= ingredient_line_item.text_field :ingredient_id,
    list: "ingredients",
    data: { action: 'change->ingredient-list#replaceId focus->ingredient-list#selectAll', target: 'ingredient-list.name' },
    class: 'ingredient-name',
    required: true,
    placeholder: 'Food' %>
  <%= ingredient_line_item.number_field :unit_number,  data: { target: 'ingredient-list.number' } %>
  <%= ingredient_line_item.text_field :unit_name,
    list: "units-#{ingredient_line_item.index}",
    data: { action: 'focus->ingredient-list#selectAll' },
    required: true,
    placeholder: 'tbsp' %>
  <datalist id="units-<%= ingredient_line_item.index %>" data-target="ingredient-list.unitList">
  </datalist>
</div>

