// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meals-page {
  display: flex;

}
.calendar {
  flex-basis: 66%;
}

.meals {
  padding-left: 1rem;
  .time {
    margin-bottom: 1rem;
  }
  .ingredient-name {
    width: 10rem;
  }
  .input[type="number"] {
    width: 2rem
  }
  a {
    display: block;
  }
  div > div, a {
    margin-bottom: 0.5rem;
  }
}

